.cabecalho {
    background-color: #573142;
    height: 120px;
    width: 100%; 
    }

.rodapé {
    background-color: #573142;
    height: 250px;
    width: 100%;
}
    
.content {
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    margin: auto;
    display: block;
}

.navigation {
    position: absolute;
    bottom: 30px;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.label {
    width: 70px;
    height: 17px;
    border: 2px solid #BF7F1C;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.label:hover {
    background-color: #BF7F1C;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
}

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}
    
    
    
    .section-title{
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    }
    
    
    
    .our-subjects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    }
    
    
    .item-subject{
    display: flex;
    height: 130px;
    width: 75px;
    text-align: center;
    }

    .nome-conteudo {
    font-size: 20px;
    margin-top: 50%;
    text-decoration: none;
    color: #573142;
    }

    .nome-conteudo:hover {
        transform: scale(1.3);
    }

    #logo{
        width: 250px;
        height: 100px;
        margin-left: 40px;
        margin-top: 10px;
    }

    #logorodapé {
        width: 280px;
        height: 130px;
        margin-left: 60px;
        margin-top: 60px;
    }

    #descricao {
        width: 300px;
        height: 50px;
        text-align: justify;
        margin-left: 380px;
        margin-top: -150px;
        font-size: 18px;
        color:white;
    }

    #logoif {
        width: 70px;
        height: 102px;
        margin-left: 92%;
        margin-top: 20px;
    }

    @media screen and (max-width: 1100px){
        .our-subjects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-left: 2%;
            margin-right: 10%;
        }

        .item-subject{
            display: flex;
            height: 90px;
            width: 35px;
            }

        .nome-conteudo{
            text-align: center;
            font-size: 15px;
            margin-top: 60%;
            }

        #logo{
            width: 230px;
            height: 80px;
            margin-left: 20px;
            margin-top: 20px;
            }

        #logorodapé {
            width: 200px;
            height: 70px;
            margin-left: 30px;
            margin-top: 30px;
            }

        #logoif {
            width: 35px;
            height: 42px;
            margin-left: 85%;
            margin-top: 50px;
            }

        #descricao {
            width: 200px;
            height: 30px;
            text-align: justify;
            margin-left: 32px;
            margin-top: -10px;
            font-size: 14px;
            color: white;
            }
        
        .section-title{
            text-align: center;
            font-size: 22px;
            font-family: cursive;
            }

    }
