.cabecalho {
    background-color: #573142;
    height: 120px;
    width: 100%; 
    }

.rodapé {
    background-color: #573142;
    height: 250px;
    width: 100%;
}
    
.slider{
    width: 100%;
    height: 700px;
    }
    
    
.slides{
    width: 400%;
    height: 400px;
    display: flex;
    }
    
    
.slides input{
    display: none;
    }
    
.slide{
    width: 25%;
    position: relative;
    }
    
.slide img{
    width: 100%;
    height: 400px;
    }
    
.manual-navigation{
    position: absolute;
    width: 99%;
    margin-top: -50px;
    align-items: center;
    display: flex;
    justify-content: center;
    }
    
.manual-btn{
    border: 2px solid #BF7F1C;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 2s;
    }
    
.manual-btn:not(:last-child){
    margin-right: 40px;
    }
    
.manual-btn:hover{
    background-color: #BF7F1C;
    }
    
    
    
    
    #radio1:checked ~ .first{
    margin-left: 0;
    }
    
    
    
    
    #radio2:checked ~ .first{
    margin-left: -25%;
    }
    
    
    
    
    #radio3:checked ~ .first{
    margin-left: -50%;
    }
    
    
    
    
    #radio4:checked ~ .first{
    margin-left: -75%;
    }
    
    
    
    
    .section-title{
    text-align: center;
    font-size: 28px;
    font-family: cursive;
    }
    
    
    
    .our-subjects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    margin-left: 5%;
    margin-right: 5%;
    }
    
    
    .item-subject{
    display: flex;
    height: 130px;
    width: 75px;
    text-align: center;
    }

    .nome-conteudo {
    font-size: 20px;
    margin-top: 50%;
    }

    #logo{
        width: 250px;
        height: 100px;
        margin-left: 40px;
        margin-top: 10px;
    }

    #logorodapé {
        width: 280px;
        height: 130px;
        margin-left: 60px;
        margin-top: 60px;
    }

    #descricao {
        width: 300px;
        height: 50px;
        text-align: justify;
        margin-left: 380px;
        margin-top: -150px;
        font-size: 18px;
        color:white;
    }

    #logoif {
        width: 70px;
        height: 102px;
        margin-left: 92%;
        margin-top: 20px;
    }

    @media screen and (max-width: 1100px){
        .our-subjects {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            margin-left: 2%;
            margin-right: 10%;
        }

        .item-subject{
            display: flex;
            height: 90px;
            width: 35px;
            }

        .nome-conteudo{
            text-align: center;
            font-size: 15px;
            margin-top: 60%;
            }

        #logo{
            width: 230px;
            height: 80px;
            margin-left: 20px;
            margin-top: 20px;
            }

        #logorodapé {
            width: 200px;
            height: 70px;
            margin-left: 30px;
            margin-top: 30px;
            }

        #logoif {
            width: 35px;
            height: 42px;
            margin-left: 85%;
            margin-top: 50px;
            }

        #descricao {
            width: 200px;
            height: 30px;
            text-align: justify;
            margin-left: 32px;
            margin-top: -10px;
            font-size: 14px;
            color: white;
            }
        
        .section-title{
            text-align: center;
            font-size: 22px;
            font-family: cursive;
            }
    }